*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    /* outline: 1px solid blue; */
}

html{
    scroll-behavior: smooth
}
.home{
    background-image: url(../img/teste.svg); /*pedir ajuda para colocar a img atras do menu(caraio consegui essa porra!)*/
    background-size: cover;
    background-position: top;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: end;
    transition: .5s background-color, .5s box-shadow;
    z-index: 999;
}

.nav-itens{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 36px;
}

.nav-itens>li> a{
    /* padding-left: 20px;essa merda dá erro e não consigo arrumar, boa sorte!((so funciona px) */
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    position: relative;
}
.nav-itens>li> a::before{
    content: '';
    position: absolute;
    bottom: -4px;
    height: 3.5px;
    background: white;
    border-radius: 4px;
    width: 0;
    transition: .2s width;
}
nav.active {
    /* background: linear-gradient(#7a498833, transparent 75%); */
    background: #ffffffcc;
    box-shadow: 0 0 16px 0 #00000033;
    backdrop-filter: blur(2px);
}
nav.active .nav-itens>li>a{
    color:#977aad;
}

.nav-itens>li>a:hover::before{
    width: 100%;
}

.Donas{
   width: 95%;
   height: 100dvh;
   display: flex;
}

#bem-vindo-canto-direito{
    width: 60%;
    height: 100%;
    /* margin-left: 40%; */
}

/* #img-fundo{
    background-image: url(../img/com-cel.svg);/*bom tentei sobrepor mas não consegui :(
    background-size: auto;
    width: 50%;
    height: 50%;
    background-position: right;
} */

#img-fundo{
    padding-top: 1%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: pcs 4s linear infinite; 
}

@keyframes pcs{
    0%, 100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
}

#saiba-mais{
    width: 40%;
    height: 100%;
    /* margin-right: 50%;
    margin-top: -45%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

#nome-Donas{
    /* font-family: 'Gagalin',sans-serif;  
    font-size: 100px ; 
    color:#971881;
    text-align: center;
    margin-left: 10%;
    padding-top: 45%; */
    width: 100%;
    margin-left: 1rem;
} 

#slogan{
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    margin-left: 2rem;
}

#botao-saiba{
    /* width:25%;
    height: 7%; */
    border-style: none;
    background-color: #971881;
    /* border-color: #971881; */
    border-radius: 15px;
    /* margin-left: 40%;
    margin-top: 8%; */
    /* font-size: 100%; */
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    color:white;
    padding: 16px 30px;
    font-size: 16px;
    width: fit-content;
}

.o-que-e{
   
    width: 100%;
    height: 90dvh;

}

#img-oque-e{
    
    background-image: url(../img/moca.png); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 70%;
    width: 40%;
    margin-left: 10%;
    position: relative;
    top: 35%;
    transform: translateY(-28%); 
    
}

#texto-oque-e{
 
    height: 40%;
    width: 40%;
    margin-left: 50%;
    margin-top: -20%;
}

#titulo-oque-e{
    color:#583a5b;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
    width: 100%;
    height: 25%;
    
}

p{
    color: black;
    font-weight: 700;
    font-family: 'Poppins' ,sans-serif;
    font-size: 20px;
}

#seta-subir{

    width: 4%;
    height: 8%;
    border-radius: 75%;
    background-color: #971881;
    bottom:10px;
    position:fixed;
    right: 10px;
   display: grid;
   place-items: center;
    
}

#seta{
   width: 30%;
   cursor: pointer;
}

.porque-usar{
    width: 100%;
    height: 80dvh;
    text-align: center;
    background-color: #583a5b;
}



#titulo-porque-usar{
   padding-top: 80px;
    height: 15%;
    width: 28%;
    font-size: 50px;
    margin-bottom: 6%;
   margin-left: auto;
   margin-right: auto;
    font-family: 'Josefin Sans',sans-serif;
    font-weight:bolder;
    color:#fff;
   
}

#conteudo-porque-usar{

    width: 1000px;
    height: 250px;
    margin:auto;
}

.topico-porque-usar{

    height: 50%;
    width: 50%;
    float: right;   
   
   
   
}

.icone{
    margin-top: -5%;
    width: 20%;
    height: 100%;
}

.texto{
   
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-top: -25%;
    text-align: center;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    color:#ffff;
}

#img-direita{
  background-image: url(../img/flor\ -direito.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1%;
    width: 600px;
    height: 230px;
    float: right;
    margin-top: -10%;
    
}

#img-esquerda{
    background-image: url(../img/flor-esquerdo.svg);
     background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 230px;
    margin-top: -10%;
}

#area-vendedora{
  
    width: 100%;
    height: 100dvh;
    position:relative;
}
#titulo-area-vendedora{
    padding-top: 120px;
    margin-left: 10%;
    height: 15%;
    width: 40%; 
    font-family: 'Josefin Sans', sans-serif;
    font-size:50px;
    color:#583a5b;
    font-weight: bolder;
}

#conteudo-area-vendedora{
  
    margin-left: 6%;
    width: 50%;
    height: 30%;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

button{
    transition: 0.4s;
}

button:hover{
    opacity: 1;
}
#open-modal{
    margin-top: 1%;
    background-color: #bfa8d1;
    border-style: none;
    border-radius: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    color:white;
    padding: 20px 30px;
    font-size: 20px;
    width: 20%;
    height: 8%;
    margin-left: 15%;
    text-align: center;
    cursor: pointer;
    opacity: .5;

}



#fade,#modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    z-index: 10;
    width: 900px;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;


}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    color: #583A5B;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 25px;
    font-weight: bolder;
    
}

.close-modal{

    border-style: none;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    cursor: pointer;
   
    
}


.modal-body p{
    margin-bottom: 1rem;

}

#modal.hide,#fade.hide{
    opacity: 0;
    pointer-events: none;
}

#modal.hide{
    top:0;
}



.titulo-plano{
    font-family: 'Centhury Gothic',sans-serif;
    font-weight: bolder;
    font-size: 20px;
    margin-top: 1rem;
    display: flex;
    text-align: center;
}

.plano-gratuito{
    
    color: #583a5b;
    width: 35%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
}

#plano-pago{
    
    color: #583a5b;
    width: 35%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    margin-left: 23%;
 
}
.texto-planos{
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 14px;
    margin-left: 2%;
    margin-top: 1%;
   
}
.texto-planos-grande{
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 14px;
    margin-left: 2%;
    margin-top: 2%;
    width: 90%;
    
}
.teste{
    display: flex;
}
.conteudo-plano-simples{
    height: 300px;
    width: 50%;
    background-color: #977aad;
    border-radius: 15px;
   margin-top: 2rem;
   margin-left: 2%;
}
.conteudo-plano-pago{
    height: 300px;
    width: 50%;
    background-color: #977aad;
    border-radius: 15px;
   margin-top: 2rem;
}
#preco{
    margin-top: 0.5rem;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #ccc;
} 

#gratis{
    
    margin-left: 300px;
    margin-top: -1rem;
    width: 15%;
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 20px;
   

}

#premium{
   
    width: 15%;
    margin-left: 520px;
    margin-top: -1.5rem;
    color: white;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 20px;
    
}



#postar-produtos{
    
    margin-top: 0.5rem;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ccc;
}

#divulgacao{
    
    margin-top: 0.5rem;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ccc;
}

#painel{
    
    margin-top: 0.5rem;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ccc;
}

#encomenda{
    border-bottom: 1px solid #ccc;
    margin-top: 0.5rem;
    width: 100%;
    height: 15%;
}

#engajamento{
   
    margin-top: 0.5rem;
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #ccc;
}

.contem{
   
    height: 50%;
    width: 3%;
    margin-left: 48%;
    margin-top: -15px;

}

.nao-contem{
    height: 50%;
    width: 3%;
    margin-top: -25px;
    margin-left: 80%;
}

.texto-plano{
  
     margin-left: 2%;
    color:white;
     margin-top: 5px;
     width: 250px;
     height: 25px;
     
     
 }



.valor-plano{
    height: 15%;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-size: 30px;
    
}

#textinho{
    font-size: 15px;
    margin-left: 45%;
    margin-top: -1.2rem;
}


.check-mark{
    margin-top: 1rem;
   margin-left: 0.5rem;
    width: 25px;
    height: 25px;
}






#img-dec-area-vendedora{
    background-image: url(../img/img-area-vendedora.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position:absolute;
    top: 35%;
    left:55%;
    width: 40%;
    height: 40%;
   

}

#cadastre-se{
    margin-top: -15%;
    width: 100%;
    height: 100dvh;
    position:relative;
   
}

#titulo-cadastrar{
   
    width: 50%;
    height: 25%;
    transform: translateX(50%);
    
    top:20%;
    text-align: center;

}
#titulo-donas{
     font-family: 'Josefin Sans',sans-serif;
    font-weight: bolder;
    font-size: 45px;
    color:#583a5b;
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 15%;
}

#img{
   background-image: url(../img/logo.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100%;
   height: 80%;
   width: 50%;
   float:right;
   align-items: center;
   margin-top: 15%;
}

#conteudo-cadastrar{

    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 25px;
    width: 70%;
    height: 30%;
    transform: translateX(30%);
    position:absolute;
    top:40%;
}

#botao-cadastro{
    background-color: #bfa8d1;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    transform: translateY(350px);
    margin-left: 15%;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    text-align:center;
    border-style: none;
    cursor:pointer
    
  
}

#hive{
    margin-top: -15%;
    width: 100%;
    height: 100dvh;
}

#logo-hive{
    background-image: url(../img/logoHive.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    height: 40%;
    position:relative;
    top:25%;
    left:6%;
}

#botao-hive{
    background-color:#bfa8d1;
    width: 20%;
    height: 8%;
    border-radius: 15px;
    border-style: none;
    transform: translateY(130px);
    margin-left: 8%;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    cursor:pointer
}

#titulo-hive{
  
   
    /* height: 10%; */
    width: 20%;
    margin-right: 25% ;
    float:right;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color:#583a5b
}

#sobre-hive{
  
    height: 30%;
    width: 50%;
    margin-left:45%;
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

#copyright{
    text-align: center;
    align-items: center;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color:#583a5b;
    margin-bottom: 1rem;
} 